<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <div>
        <div th:include="fragments/onlyGreatings.html :: greetings"></div>
        <h4>Register</h4>
        <form method="POST" th:action="@{/auth/register}" th:object="${newUser}">
            <input type="text" th:field="*{name}" placeholder="name"/><br/>
            <input type="text" th:field="*{email}" placeholder="email"/><br/>
            <input type="password" th:field="*{password}" placeholder="password"/><br/>
            <input type="submit" value="Register"/>
        </form>
        <p>Or <a href="/auth/login">log in</a></p>
    </div>
</body>
</html>